
.albums{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,300px));
  grid-gap: 1rem;
  justify-content: center;
  font-weight: 400;
}



.load{

  display: flex;
  justify-content: center;
  align-content: center;

}

